body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:824px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u6427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
}
#u6427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6428 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:30px;
  width:33px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u6429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:27px;
  height:27px;
  color:#333333;
}
#u6429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6430 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:31px;
  width:33px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:20px;
}
#u6433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:20px;
  color:#0099FF;
}
#u6433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6434 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:95px;
  width:57px;
  height:16px;
}
#u6434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u6435 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:87px;
  width:28px;
  height:28px;
}
#u6435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u6436 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:87px;
  width:28px;
  height:28px;
}
#u6436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u6437 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:134px;
  width:58px;
  height:26px;
  color:#00CCCC;
}
#u6437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u6438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u6438 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:134px;
  width:58px;
  height:26px;
}
#u6438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u6439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u6439 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:134px;
  width:72px;
  height:26px;
}
#u6439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:68px;
  word-wrap:break-word;
}
#u6440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
}
#u6440 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:134px;
  width:72px;
  height:26px;
}
#u6440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:68px;
  word-wrap:break-word;
}
#u6441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u6441 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:170px;
  width:58px;
  height:26px;
}
#u6441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u6442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u6442 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:170px;
  width:58px;
  height:26px;
}
#u6442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u6443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u6443 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:170px;
  width:58px;
  height:26px;
}
#u6443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u6444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u6444 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:170px;
  width:58px;
  height:26px;
}
#u6444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u6445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u6445 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:87px;
  width:28px;
  height:28px;
}
#u6445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:124px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6446 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:217px;
  width:347px;
  height:124px;
}
#u6446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u6447 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:224px;
  width:99px;
  height:16px;
  color:#D7D7D7;
}
#u6447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6448 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:356px;
  width:100px;
  height:16px;
}
#u6448_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6448_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6449 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:473px;
  width:282px;
  height:42px;
}
#u6449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:278px;
  word-wrap:break-word;
}
#u6450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u6450 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:315px;
  width:37px;
  height:16px;
  color:#D7D7D7;
}
#u6450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6451 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:168px;
  width:0px;
  height:0px;
}
#u6451_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:185px;
  height:8px;
}
#u6451_seg1 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:-4px;
  width:8px;
  height:8px;
}
#u6451_text {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6452 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:144px;
  width:244px;
  height:109px;
}
#u6452_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:224px;
  word-wrap:break-word;
}
