body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1308px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:20px;
}
#u5432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:20px;
  color:#0099FF;
}
#u5432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u5435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:375px;
  height:44px;
}
#u5435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5436 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:31px;
  width:65px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:27px;
  height:27px;
  color:#333333;
}
#u5437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5438 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:31px;
  width:33px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u5439 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:75px;
  width:343px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u5439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u5440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5440 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:112px;
  width:43px;
  height:16px;
}
#u5440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5441 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:112px;
  width:43px;
  height:16px;
}
#u5441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:2px;
}
#u5442 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:166px;
  width:103px;
  height:1px;
}
#u5442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:2px;
}
#u5443 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:166px;
  width:103px;
  height:1px;
}
#u5443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5444 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:138px;
  width:97px;
  height:27px;
}
#u5444_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5445 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:138px;
  width:97px;
  height:27px;
}
#u5445_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5446 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:111px;
  width:20px;
  height:20px;
}
#u5446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5447 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:188px;
  width:127px;
  height:16px;
}
#u5447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:2px;
}
#u5448 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:244px;
  width:289px;
  height:1px;
}
#u5448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5449 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:216px;
  width:97px;
  height:27px;
}
#u5449_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5450 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:186px;
  width:20px;
  height:20px;
}
#u5450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5451 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:473px;
  width:282px;
  height:42px;
}
#u5451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:278px;
  word-wrap:break-word;
}
#u5452_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u5452 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:116px;
  width:30px;
  height:40px;
}
#u5452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u5453_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u5453 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:116px;
  width:30px;
  height:40px;
}
#u5453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u5454_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u5454 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:116px;
  width:30px;
  height:40px;
}
#u5454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u5455_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u5455 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:116px;
  width:30px;
  height:40px;
}
#u5455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u5456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5456 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:134px;
  width:581px;
  height:19px;
  font-size:16px;
}
#u5456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  white-space:nowrap;
}
#u5457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:258px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5458 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:184px;
  width:375px;
  height:258px;
}
#u5458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u5459 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:184px;
  width:375px;
  height:47px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u5459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3399FF;
  text-align:right;
}
#u5460 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:198px;
  width:61px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3399FF;
  text-align:right;
}
#u5460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u5461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3399FF;
}
#u5461 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:198px;
  width:100px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3399FF;
}
#u5461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u5462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u5462 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:324px;
  width:300px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u5462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5463 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:318px;
  width:375px;
  height:1px;
}
#u5463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5464 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:358px;
  width:375px;
  height:1px;
}
#u5464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u5465 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:284px;
  width:270px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u5465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u5466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5466 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:231px;
  width:375px;
  height:1px;
}
#u5466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u5467 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:246px;
  width:270px;
  height:19px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u5467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u5468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u5468 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:367px;
  width:270px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u5468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u5469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u5469 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:408px;
  width:270px;
  height:19px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u5469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u5470_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u5470 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:166px;
  width:30px;
  height:40px;
}
#u5470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u5471_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u5471 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:475px;
  width:30px;
  height:40px;
}
#u5471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u5472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u5472 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:502px;
  width:669px;
  height:190px;
  font-size:16px;
  color:#000000;
}
#u5472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  word-wrap:break-word;
}
#u5473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.898039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5473 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:573px;
  width:279px;
  height:48px;
  color:#FFFFFF;
}
#u5473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  word-wrap:break-word;
}
#u5474 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:216px;
  width:195px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5475_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:45px;
  height:22px;
}
#u5475p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:38px;
  height:4px;
}
#u5475p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:4px;
}
#u5475p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u5475p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5475p002 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5475p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5475 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:147px;
  width:34px;
  height:2px;
}
#u5475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5476_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:46px;
  height:22px;
}
#u5476p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:38px;
  height:6px;
}
#u5476p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:6px;
}
#u5476p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:24px;
  height:22px;
}
#u5476p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u5476p002 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:0px;
  width:4px;
  height:4px;
}
#u5476p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5476 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:154px;
  width:34px;
  height:2px;
}
#u5476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
