body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1226px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:1000px;
  height:47px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:1847px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:65px;
  width:1260px;
  height:1847px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
